{% extends 'main/base.html' %}
{% load static %}
{% block title %}Home{% endblock%}

{% block content%}
    <div class="container-lg">
        <div class="posts">
            <div class="section-head">
                <h2>Recent posts</h2>
            </div>
            <div class="row g-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
                {% for post in posts %}
                <div class="col">
                    <div class="box h-100">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid rounded mb-2" style="width:100%; object-fit:cover; max-height:200px;">
                        {% endif %}
                        <p class="post-title">{{ post.title }}</p>
                        <p class="post-content">{{ post.content }}</p>
                        <p class="post-date">{{ post.published_at }}</p>
                    </div>
                </div>
                {% empty %}
                    <p>No posts available.</p>
                {% endfor %}
            </div>
        </div>
        <div class="hero">
            <div class="hero-content">
                <div class="col-12">
                    <h1>Share Your Thoughts</h1>
                </div>
                <div class="col-12">
                    <form class="post-form d-flex flex-column gap-3" action="{% url 'main:home_view' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" placeholder="Post Title" name="title" class="form-control" required>
                        {% if safe_title == False %}
                            <div class="alert alert-danger py-2 mb-0">
                                Post has profanity (title field). Please choose different wording.
                            </div>
                        {% endif %}

                        <textarea placeholder="Talk to us" name="content" class="form-control" rows="4" required></textarea>
                        {% if safe_content == False %}
                            <div class="alert alert-danger py-2 mb-0">
                                Post has profanity (content field). Please choose different wording.
                            </div>
                        {% endif %}
                        <input type="file" name="image" class="form-control" accept="image/*">

                        <input type="submit" value="Send post" class="btn btn-primary submit-btn" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock%}